<!doctype html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap" rel="stylesheet"> 
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh.min.css"
  rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-widgets.css"
  rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-tables.css"
  rel="stylesheet" type="text/css">

<head>
  {{ bootstrap.load_css() }}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if title %}
    <title>{{ title }} - Logro escolar</title>
  {% else %}
      <title>Logro escolar</title>
  {% endif %}
</head>

<body style="margin:auto; padding-bottom:1rem; font-family:Quicksand; font-size:1.15rem;">

{% block navbar %}
{{ bootstrap.load_js() }}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href={{url_for('inicio')}}>
  <img src={{ url_for('static', filename='img/home-2-fill.png')}} class="d-inline-block align-top">
    Inicio
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href={{url_for("primaria")}}>Primaria<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{url_for("secundaria")}}>Secundaria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" }}>Glosario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Referencias</a>
      </li>
    </ul>
  </div>

</nav>

{% endblock %}

{% block content%}
{% endblock %}

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-tables.js"></script>

</html>
</section>