<!doctype html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap" rel="stylesheet"> 
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh.min.css"
  rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-widgets.css"
  rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-tables.css"
  rel="stylesheet" type="text/css">

<head>
  {{ bootstrap.load_css() }}
  <meta charset="utf-8">
  {% if title %}
    <title>{{ title }} - Logro escolar</title>
  {% else %}
      <title>Logro escolar</title>
  {% endif %}
</head>

<body style="margin:auto; font-family:Quicksand">

{% block navbar %}
{{ bootstrap.load_js() }}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('inicio') }}">Inicio</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
              </ul>
          </div>
      </div>
  </nav>
{% endblock %}

{% block content%}
{% endblock %}
</body>


  
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.2.3/bokeh-tables.js"></script>

</html>
</section>